<mat-table [dataSource]="houses">
  <!-- Id Column -->
  <ng-container matColumnDef="_id">
    <mat-header-cell *matHeaderCellDef>Id's</mat-header-cell>
    <mat-cell *matCellDef="let house">{{ house._id }}</mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
    <mat-cell *matCellDef="let house">{{ house.name }}</mat-cell>
  </ng-container>

  <!-- Name Category -->
  <ng-container matColumnDef="category">
    <mat-header-cell *matHeaderCellDef>Categoria</mat-header-cell>
    <mat-cell *matCellDef="let house">
      {{ house.category }}
      <mat-icon aria-hidden="false" aria-label="Categoria da propriedade">
        {{house.category | category}}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Status -->
  <ng-container matColumnDef="status">
    <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
    <mat-cell *matCellDef="let house">
      {{ house.status }}
      <mat-icon aria-hidden="false" aria-label="Categoria da propriedade">{{
        house.status | status
      }}</mat-icon>
    </mat-cell>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column-header">
      <button mat-icon-button color="primary" aria-label="Adicionar anúncio">
        <mat-icon (click)="onAdd()" >add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let house" class="action-column">
      <button mat-icon-button color="accent" aria-label="Editar anúncio">
        <mat-icon>edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" aria-label="Deletar anúncio">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>

  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
